/* CSS Document */

/*页面容器*/
#container{ margin:auto; position:relative; }

/*头部样式*/
.page{ overflow:hidden;  width:982px; margin:auto;}
.header{ position:relative; width:982px; margin:auto;}
	 /*--siteNav--*/
	.siteNav{border-width:0 0 1px 0; border-style:solid; overflow:hidden; height:24px; background:#f5f5f5; border-color:#ccc;}
	.hotline{ float:right; padding-top:15px; font-weight:bold;font-size:1.4em;}
	.hotline label{ color:#0058a0; display:block;}
	.hotline em { color:#fc560d;}
	/*--用户信息--*/
	.userInfo{ float:left; margin-left:10px;}
	.userInfo a{ color:#fc560d;}
	/*--快菜菜单--*/
	.quickMenu{ float:right;}
	.quickMenu li{ float:left; margin-right:10px;}
	.shoppingBox{border:1px solid #ccc; margin:2px 0; height:18px; line-height:18px; padding:0 5px 0 5px; background:#fff;}
	.shoppingBox em{ color:#fc560d;}
	
/*--branding--*/
.branding h1{ background:url(img/logo.gif) no-repeat;width:300px; height:87px; float:left; text-indent:-9999px;}
.branding{ overflow:hidden; height:87px;}

/*--导航--*/
.navMain{  height:40px; border-width:0 1px 0 1px; border-style:solid; border-color:#096dcd; line-height:40px; margin-bottom:10px;background:url(img/navMain_bg.gif) repeat-x; border-color:#096dcd;}
.navMain li{ background:url(img/navMain_li_bg.gif) no-repeat center right;float:left; padding:0 10px 0 8px;}
.navMain li.selected a{ background:url(img/navMain_selected_bg.gif) no-repeat center bottom;}
.navMain a,.statData{ color:#fff;}
.navMain a:hover{ color:#c4eefd;}
.navMain a{ font-size:1.3em; font-weight:bold; display:block;}

/*--数据统计--*/
.statData{ position:absolute; top:120px; right:0; font-size:0.9em;}
.statData li{ float:left; margin-right:5px;}
.statData em{ font-weight:bold;color:#ffff00;}

/*--搜索--*/
.search{ height:55px; position:absolute; top:32px; left:340px; width:452px; zoom:1;}
.searchTabs{ overflow:hidden; font-size:0.9em; height:27px; position:absolute; top:0; left:10px; z-index:4;}
.searchTabs li{ float:left; height:27px; margin-right:10px;}
.searchTabs li.selected{background:url(img/searchTabs.gif) no-repeat;}
.searchTabs li.selected a{ color:#fff; display:block; width:60px; height:27px; line-height:26px; text-align:center;}
.searchHot{ position:absolute; top:54px;}
.searchHot a{ color:#666;}
.searchHot a:hover{ color:#000;}
.searchPanel{ width:452px; height:28px; background:url(img/searchPanel_bg.gif) no-repeat; position:absolute; top:25px; z-index:1;}
.searchPanel input,.searchPanel button{background:url(img/search_bg.gif) no-repeat;border:none; height:20px;}
.searchPanel input{ background:#fff; width:387px; display:inline-block; margin-top:4px; margin-left:4px;}
.searchPanel button{ background-position:0 -21px;width:52px; overflow:hidden; text-indent:-9999px; position:absolute; right:5px; top:4px;}
.searchPanel button:hover{ background-position:0px -43px;}

/*底部样式*/
.footer{text-align:center; width:982px; margin:auto;}
.footer p{ line-height:30px;}
.footerNav{ border-bottom:1px dotted #ccc;}
.footerNav a{ padding:0 10px;}
.footer img{ vertical-align:middle;}
.copyright{ color:#888;}

/*在线客服*/
#sidebar-sugg{ position:fixed; top:162px; /*left:50%; margin-left:495px;*/ right:10px; border:1px solid #096dcd}
#sidebar-sugg .s-main{border:1px solid #fff; background:#F8F8F8 url(../../sysicon/16/comments_add.png) no-repeat scroll center 3px ; padding:24px 7px 12px; text-align:center;  word-spacing:normal; color:#666; line-height:1.2; width:12px; overflow:hidden;}
#sidebar-sugg a{ padding:0; display:block; width:12px;}