/* CSS Document */
/*-------------------------------按分类选择------------------*/
#ListSubCategory .SubCategoryBox {margin-bottom:5px; overflow:hidden; padding-bottom:5px;}
#ListSubCategory .FindByHint{height:20px; line-height:20px; font-weight:bold;}
#ListSubCategory .FindByHint img{ vertical-align:middle;}
#ListSubCategory .strong{color:red;}

.SubCategoryBox ul.CategoryListTableLevel1, .itemTypeH {display:block; list-style:none outside none; margin:0; padding:0;}
.SubCategoryBox ul.expand {max-height:120px; overflow:hidden;}
.SubCategoryBox ul.CategoryListTableLevel1 li, .itemTypeH li {float:left; margin:3px 0; white-space:nowrap; width:25%;}
.SubCategoryBox ul.CategoryListTableLevel1 li i, .itemTypeH li i {color:#333; font-family:arial,sans-serif; font-size:10px; font-style:normal;}

.SubCategoryBox div.expandOpen {clear: both; padding-top: 10px; display: block;}
.SubCategoryBox .expandOpen a{border: 1px solid rgb(204, 204, 204); margin: 0pt auto; padding: 5px; display: block; width: 150px; text-align: center;}

/*工作动态*/
.workNews { border:#c4d9ef 1px solid;margin-bottom:10px;overflow:hidden;/* position:relative;*/}
.workNews h4 {background:url(img/cols_h2_bg.gif) repeat-x; height:24px; padding-left:10px; font-size:1.2em; border-bottom:1px solid #c4d9ef; color:#00579e;}
.workNews ul { margin:4px 10px;}
.workNews .more {background:url(img/more.gif) no-repeat right center; position:absolute; top:0; right:0px; padding-right:14px;}
.workNews .more a{ color:#023D69;}

/*热卖商品*/
.hotProduct {height:auto; z-index:1;}
*+html .hotProduct {height:auto; z-index:-1;}
.hotProduct .goodsPic{width:170px; height:170px; text-align:center;}
.hotProduct .goodsPic img{width:150px;height:150px;}
.hotProduct .orgInfoPic{border:1px solid #DDD;line-height: 120px;width:160px;height:120px;text-align: center;}
.hotProduct .orgInfoPic img{width:160px;height:120px;}
.hotProduct .personPic img{width:160px;height:208px;}
.hotProduct strong{ font-weight:bold; color:#ff6501;}

/*商品分类---未删除*/
#article .market-cat {border-color:#FFF #FFF #DDD; border-style: solid solid dotted; border-width: 1px; padding:5px; overflow:hidden;}
#article .market-cat:hover,#article .market-cat.hover, #article .select-cat {background: none repeat scroll 0 0 #EEF4FF; border:1px dotted #CCDDFF;}
#article .market-cat .hd{width:100%;}
#article .market-cat .hd h4 {color: #D84600;font-size: 14px;font-weight: bold;}
#article .market-cat .bd{width: 100%;}
#article .market-cat .bd .section {margin: 6px 0 10px 24px;max-width: 450px;overflow: hidden;width: 450px;float:left;_width:400px;}
#article .market-cat .bd .section ul li {float: left;margin-right: 14px;white-space:nowrap;}
#article .market-cat .bd .section .sub a {color: #0092D2;font-weight: bold;}    
#article .market-cat .bd .section ul li a {line-height: 24px;}  

/*--------------排序方式 售量.....共**件商品----------------*/
.conrank{ height:30px; border:1px solid #c4d9ef; background:#fdfbfc url(img/cols_h2_bg.gif) repeat-x bottom; position:relative; overflow:hidden;}
.conrank ul li { height:30px; line-height:30px;}
.conrank ul li a{ margin:0 5px;}
.conrank ul li img{ vertical-align:middle;}
.conrank ul li.shortBy { position:absolute; left:270px; top:0;}
.conrank ul li.displayBy { position:absolute; left:10px; top:0; _top:5px;/*by liuly 2011-01-24*/}
.conrank ul li.proAmount{ position:absolute; left:635px; top:0;}
.conrank ul li.proAmount strong{ color:#ff6501; font-weight:bold;}

/*---------------商品列表展示--------------------------*/
.list-content .list-view { overflow:hidden;}
.list-view li.list-item { background:#fff; height:90px; overflow:hidden; position: relative; padding:5px; border-bottom:1px dotted #c4d9ef;}
.list-view li.list-item:hover{ background:#e3f1fc;}
/*商品标题*/
.list-view h3 {font-size: 14px; font-weight:normal; height:44px; line-height:22px; width:230px; margin-left:90px; margin-top:2px;}
.list-view h3 em {color: #ff6501;font-weight: 700;}
/*商品参数*/
.list-view .seller{ position:absolute; left:90px; top:50px; right:150px; line-height:20px; color:#666;}
.list-view .seller a.fn {color:#666; margin: 0 5px 0 0;}
/*商品图片*/
.list-view .photo {position:absolute; left:5px; top:5px; height: 80px; width: 80px;}
.list-view .photo a {display: table-cell;text-align: center;vertical-align: middle;}
.list-view .photo img {width: 80px;height:80px;}
/*价格、时间、操作块*/
.list-view .attribute{ position:absolute; top:5px; right:5px;}
.list-view .attribute li{ float:right; margin-left:20px; display:inline;}
/*操作块*/
.list-view .attribute .legend2 a{ display:block;}
/*价格*/
.list-view .attribute .price {width:140px; margin-right:10px;}
.list-view .attribute .price a {color: #666;}
.list-view .attribute .price a:hover {color: #ff6501;text-decoration: none;}
.list-view .attribute .price img {margin-right: 0;}

.list-view .attribute img {margin-right: 3px;vertical-align: middle;}
.list-view .attribute .legend a {display: block;height: 16px;margin: 0 auto 5px;padding: 0;width: 16px;}
/*时间*/
.list-view .attribute li.srvlist {margin-top:-2px; width:80px; color:#999;}
.list-view .attribute li.srvlist a {display:block; font-size:12px; height:21px; line-height:20px; padding:0; text-align:left}
.list-view .attribute li.srvlist a.disabled{color:#aaa;}
.list-view .attribute li.srvlist a span {cursor:pointer;padding-left:24px;}
.list-view .attribute li.srvlist span {display:block;width:auto;}
.list-view .attribute li span {display: none;}
.list-view .attribute li em {color:#ff6501; display:block; line-height:20px; font-weight:bold;}
.list-view .extend {position:absolute; left:90px; top:28px;}
.list-view .extend a {margin: 0 8px 0 0;}
.list-view .extend img {vertical-align: middle;}
.list-view li.list-item .extend .specs {border: 1px solid #FA9614 !important;color:#666;display: inline;margin-right: 5px;padding: 1px 5px;}
.list-view .extend .specs span span {font-weight: bold;}

.list-view .other {position: absolute;right:18px;right:5px;top:10px;}

.izViewer{width:360px;height:300px;position:absolute;left:300px;display:none; border:1px solid #999;z-index:999}
.handle{display:none;opacity:0.6;filter:alpha(opacity=60);background:#E6EAF3; cursor:crosshair; z-index:999;position:inherit;}
.nowrap{ white-space:nowrap;}

/*---------------商品大图展示--------------------------*/
.list-content {overflow:hidden; border:1px solid #c4d9ef; border-top:0; margin-bottom:10px;}
.list-content .list-view-enlarge {overflow:hidden;}
.list-view-enlarge li.list-item {float:left; background:#fff; margin:5px 9px; display:inline; width:240px; height:360px; overflow:hidden; position: relative;}
.list-view-enlarge li.list-item:hover{background:#e3f1fc;}

/*大图*/
.list-view-enlarge .photo { position:absolute; left:10px; top:10px; right:10px; width:220px; height:220px; overflow:hidden;}
.list-view-enlarge .photo img,.list-view-enlarge .photo a {width:220px; height:220px; overflow:hidden; display:block;}
/*参考价*/
.list-view-enlarge .price{ position:absolute; left:5px; top:250px; right:5px;}
.list-view-enlarge .price:after {clear: both;content: "";display: block;height: 0;visibility: hidden;}
.list-view-enlarge .price .item-price{ float:left;}
.list-view-enlarge .price .item-price em{ font-weight:bold; color:#ff6501;}
.list-view-enlarge .price .ww-light{ float:right;}
/*标题*/
.list-view-enlarge h3.summary{ position:absolute; left:25px; right:5px; top:302px;}
/*商品对比*/
.list-view-enlarge .other{ position:absolute; left:5px; top:308px;}
/*辅助操作*/
.list-view-enlarge .attribute{ position:absolute; top:275px; left:5px; right:5px; width:240px;}
.list-view-enlarge .attribute img{ vertical-align:middle;}
.list-view-enlarge .attribute li{ float:left; margin-right:5px;}

.list-view-enlarge .attribute a.ensure,.list-view .attribute a.ensure {display: inline-block;font-size: 0 !important; height:16px; line-height: 9999em !important;overflow: hidden;vertical-align: middle;width: 16px;}
.list-view-enlarge .attribute a.ensure span,.list-view .attribute a.ensure span{display: none !important;}
.list-view-enlarge .attribute .disabled {color: #aaa;}
.list-view-enlarge . a.promotion,.list-view .attribute a.promotion{background-position: -197px -52px;height: 16px;width: 37px;}


/*----------------------商品详情 -----------------------*/
.imgAndInfo{ overflow:hidden; height:345px; position:relative;}
#showImg{ float:left; width:280px;}
/*大图展示*/
#goodsImg{ width:280px; height:280px; border:2px solid #c4d9ef; overflow:hidden; margin-bottom:10px;}
#goodsImg img{ width:260px; height:260px; margin:10px; overflow:hidden;}
/*缩略图*/
.thumbs{ width:280px; }
.thumbs li{ float:left; border:1px dotted #c4d9ef; margin-right:10px; height:40px;}
.thumbs li:hover{ border:1px solid #ff6501;}
.thumbs img{ width:40px; height:40px;}
/*商品信息展示*/
#showInfo{ margin-left:300px;}
#showInfo .meta{margin-bottom:10px;overflow:hidden;color:#444;padding-top:7px;}
#showInfo .meta .detail-price, #showInfo .meta .detail-price span , #showInfo .meta .detail-title span{height:25px;line-height:25px;}
.detail-title span,.detail-price{font-weight:bold;}
.detail-title input{ width:50px;}
#showInfo .meta li {line-height:25px;margin-bottom:1px;}
#showInfo .meta .detail-price strong {vertical-align:baseline;color:#ff6501;font-size:20px;font-weight:normal;padding-right:5px;}
#showInfo .meta .detail-title strong {vertical-align:baseline; font-weight:bold; color:#000;}

#showImg .short{width:180px;height:180px;float:left;}
#showImg .short img{border: 1px solid rgb(205, 205, 205);width:160px;height:160px;}

/*评价总分*/
#showInfo .key {border:1px solid #FEE2A1; margin-bottom:10px; background-color:#FFF3D9; color:#444; padding-left:8px; line-height:23px;
height:50px;}
#showInfo .key dd{float:left; margin-right:15px;}
#showInfo .key dd span{padding-left:18px; background-position:left center; background-repeat:no-repeat;}
#showInfo .key dd.totalScore{margin-left:30px}

#showInfo .other {margin-left:10px;color:#444;}
#showInfo .other li {float:left; height:20px; width:50%}

.attributes {background:#F6F6F6; border-bottom:1px solid #ddd; border-top:1px solid #ddd; margin-bottom:10px; zoom:1;}
.attributes .attributes-list {padding:5px;overflow:hidden;}
.attributes .attributes-list dt em{ font-weight:bold;}
.attributes .attributes-list dd{float:left;width:50%}
.attributes .attributes-list dd span{padding-left:18px;background-position:left center; background-repeat:no-repeat;}
.attributes .attributes-list li {float:left;height:24px;line-height:24px;overflow:hidden;white-space:nowrap;width:50%;border:none;}

/*操作按钮*/
.toOrder ,.toBid,.toCart,.toBargain{width:93px;height:48px;border:none;}
.addCart{ background:url(img/addToCart.png) no-repeat left center; width:154px; height:36px; border:none; vertical-align:middle;}
.toOrder{background:url(img/orderBtn.png) no-repeat scroll left center transparent;}
.toBid{background:url(img/orderBtn1.png) no-repeat scroll left center transparent;}
.toBargain{background:url(img/orderBtn2.png) no-repeat scroll left center transparent;}
.toBargain,.toBid,.toOrder	{width:127px;height:36px; line-height: 36px; color: #FFF;  margin-left: 8px;  text-align: center; display:block;float:right;font-size: 16px;font-weight: bold;}
.favBtn{ background:url(img/favBtn_bg.gif) no-repeat 0 0; width:93px; height:23px; line-height:23px; overflow:hidden; border:0; padding-left:23px; color:#fff; margin-right:10px;}
.favBtn:hover{ background-position:0 -33px; }

/* 星级评分 */
.shop-rating { height: 25px; overflow: hidden;  zoom: 1; padding: 2px 0px;  position: relative;}
.shop-rating li{ _position:static;}/*修复ie6下星形正常显示 by liuly 2011-3-1*/
.shop-rating span { height: 23px;display: block; line-height: 23px;float: left;}
.shop-rating span.title { width: 125px;text-align: right; margin-right: 5px;}
.shop-rating ul { float: left;	margin:0;padding:0}
.shop-rating .result { margin-left: 20px;padding-top: 2px;}
.shop-rating .result span {color: #ff6d02;}
.shop-rating .result em {color: #f60;  font-family: arial;  font-weight: bold;}
.shop-rating .result strong {color: #666666;font-weight: normal;}
.rating-level,
.rating-levelview,
.rating-level a { background: url(img/star_v1.gif) no-repeat scroll 1000px 1000px;}
.rating-level {background-position: 0px 0px;width: 250px; height: 23px; position: relative;float: left;}
.rating-levelview {background-position: 0px 0px;width: 250px; height: 23px; position: relative;z-index: 1;}

.rating-level a {line-height: 23px;height: 23px;position: absolute;top: 0px;left: 0px;text-indent: -999em;*zoom: 1;outline: none;}
.rating-level a.aa1-star {width:10%;z-index: 11;}
.rating-level a.aa2-stars {width:20%;z-index: 10;}
.rating-level a.aa3-stars {width:30%;z-index: 9;}
.rating-level a.aa4-stars {width:40%; z-index: 8;}
.rating-level a.aa5-stars {width:50%;z-index: 7;}
.rating-level a.aa6-stars {width:60%;z-index: 6;}
.rating-level a.aa7-stars {width:70%;z-index: 5;}
.rating-level a.aa8-stars {width:80%;z-index: 4;}
.rating-level a.aa9-stars {width:90%;z-index: 3;}
.rating-level a.aa10-stars {width:100%;z-index: 2;}

.rating-level .current-rating, .rating-level a:hover {background-position:0 -28px;}
.rating-level a.aa1-star:hover,
.rating-level a.aa2-stars:hover,
.rating-level a.aa3-stars:hover,
.rating-level a.aa4-stars:hover,
.rating-level a.aa5-stars:hover,
.rating-level a.aa1-star.current-rating,
.rating-level a.aa2-stars.current-rating,
.rating-level a.aa3-stars.current-rating,
.rating-level a.aa4-stars.current-rating,
.rating-level a.aa5-stars.current-rating {background-position:0 -116px;}

.rating-level a.aa6-stars.current-rating,
.rating-level a.aa7-stars.current-rating,
.rating-level a.aa8-stars.current-rating,
.rating-level a.aa9-stars.current-rating,
.rating-level a.aa10-stars.current-rating {background-position:0 -28px;}
/*暂无评价*/
.sorry{font-size:20px; font-weight:bold; height:85px; line-height:85px; padding-left:90px; background:url(img/sweat.gif) scroll no-repeat left center;}


.container {clear: both; margin: 0 auto; padding-top: 1px;}
#contentMain {float:left;}
/*内容容器*/
#conBody {overflow:hidden; *position:relative;}/*IE7 修复*/
.index2paL{ float:left; width:780px;overflow:hidden;}
.index2paR{ float:right; width:190px; overflow:hidden;}
#contentMain.index3pa {margin-left:10px; float:left; width:796px; overflow:hidden;}
#contentMain.index2paR{width:796px;}
#contentSub.index3pa {background:#fff; font-size:1em; line-height:26px; width:176px; float:left;}

/*网站公告分类*/
.hasBorder{ border-bottom:1px solid #bcdfef;}
.hasBorder li.selected a{background:url(img/hasBorder_s.gif) no-repeat; display:block; padding-left:10px; height:30px; line-height:30px; font-weight:bold; color:#000;}
.hasBorder li.selected li.selected a{ background:url(img/hasBorder_ss.gif) no-repeat right center; padding-left:20px; color:#0d2999; font-weight:bold;}
.hasBorder li.selected li a{ background:url(img/hasBorder_a.gif) no-repeat; padding-left:20px; font-weight:normal;}
.hasBorder li.selected li a:hover{ color:#fc560d;}

/*商品品牌分类样式*/
.categoriesB{ border-bottom:1px solid #bcdfef; margin-bottom:10px; position:relative; z-index:80;}
.categoriesB h2,.categories h3{ height:30px; line-height:30px;}
.categoriesB h2{background:url(img/categories_top.gif) no-repeat left top; padding-left:10px;}
.categoriesB h3{background:url(img/hasBorder_s.gif) no-repeat; padding-left:20px;}
.categoriesB li li{background:url(img/hasBorder_a.gif) no-repeat; padding-left:20px;}
.categoriesB a{ display:block; height:30px;}

/*品牌基本信息*/
.item-list-s6 { background:#fdfbfc; border:1px solid #cce6f6;  margin-bottom:10px; overflow:hidden;}
.item-list-s6 dl {height:70px; background:#fff url(img/cols_h2_bg.gif) repeat-x bottom; padding:10px; border-bottom:1px dotted #cce6f6;}
.item-list-s6 dt { float:left; width:94px; height:72px; overflow:hidden; margin-right:10px;}
.item-list-s6 dt img {display:block; height:70px; width:92px; border:1px dotted #ccc; overflow:hidden;}
.item-list-s6 dd { line-height:20px;}
/*推荐商品*/
.item-list-s6 .list {overflow:hidden; }
.item-list-s6 .list .hot-products {height:210px; margin:10px;}
.item-list-s6 .list .hot-products h3 {color:#fc560d; font-size:1.5em; border-bottom:3px solid #ccc; height:30px; line-height:30px; position:relative;}
.item-list-s6 .list .hot-products h3 span {border-bottom:3px solid #fc560d; height:30px; display:block; position:absolute; bottom:-3px;}
.item-list-s6 .list .hot-products ul {overflow:hidden; margin:10px;}
.item-list-s6 .list .hot-products li { float:left; margin:5px; display:inline; text-align:center;}
.item-list-s6 .list .hot-products li a {cursor: pointer; display: block;}
.item-list-s6 .list .hot-products li a img {display: block; height:110px; margin-bottom:5px; width: 110px;}
.item-list-s6 .list .hot-products li a .desc {line-height:15px; display:block; height:auto !important; margin-bottom:3px; max-height:30px; overflow:hidden; padding:0 5px;}
.item-list-s6 .list .hot-products .em { color:#fc560d; font-weight:bold;}

/*商品比较*/
.compareGoodsTips{border:#a92f06 1px solid; background:#fff; border-top:0; width:200px;position:fixed;right:12%;top:20%; z-index:10;_position:absolute; display:none;}
.compareGoodsTips h4{background:url(img/h4_bg.gif) repeat-x left top; height:26px;line-height:26px; color:#fff; text-indent:10px;}
.compareGoodsTips ul{margin:10px;}
.compareGoodsTips ul li{line-height:26px;}

/*对比框*/
.compareTable{width:100%;border-spacing:0;border-collapse:collapse; border:1px solid #B5B5FD;}
.compareTable tr td{border:1px solid #e5e8ed; height:25px; line-height:22px; text-indent:10px;}
.compareTable .red{ color:#F00; font-weight:bold;}
.compareTable .img{ width:100px; height:100px; text-align:center;}
.compareTable .title{background:#eaeaf1; text-align:center;}

/*----------------------未整理的样式 by-liuly 20110905-------------------------*/

#contentMain.full{width:960px;/*by liuly 2011-01-24*/}

/* 商品和选配列表(购物车、订单)-----开始*/
#goodsAndOption .goodsImg{width:50px;height:50px;float:left;margin-right:5px;border:1px solid #ddd;}
#goodsAndOption .fitting{color:#808080;}
#goodsAndOption .goodsInfo td{border-bottom:1px solid #D1EBFF;border-left:1px solid white;padding:5px 5px 5px 5px;background:none repeat scroll 0 0 #EFF7FE;}
#goodsAndOption tfoot td{font-size:13px;height:30px;line-height:30px;}
#goodsAndOption tfoot td ul{float:right;}
#goodsAndOption tfoot td ul li {float:left;margin:0 10px;}
 
.three-Btn a:link{	width:127px;height:36px;line-height: 36px;color: #FFF; margin-left: 8px;text-align: center; display:block;float:right;font-size: 16px;font-weight: bold;}
.three-Btn a:visited{	width:127px; height:36px;line-height: 36px; color: #FFF; margin-left: 8px;text-align: center; display:block;float:right;font-size: 16px;font-weight: bold;}
.three-Btn a:hover{	width:127px; height:36px;line-height: 36px;color: #FFF;margin-left: 8px; text-align: center; display:block;float:right;font-size: 16px;font-weight: bold;}

/*评价管理*/
.evaluationOfManagement{ padding:10px;line-height:26px;}
.evaluationOfManagement ul{ margin-left:30px;}
.evaluationOfManagement ul li{ float:left;}
.evaluationOfManagement ul li span{ display:block; width:67px;text-align:center; }

.starGray{ background:url(../../base/img/star_gray.png) no-repeat; width:60px; height:12px; padding-left:65px;}
.star1{ background:url(../../base/img/star1.png) no-repeat; width:60px; height:12px; padding-left:65px;}
.star2{ background:url(../../base/img/star2.png) no-repeat; width:60px; height:12px; padding-left:65px; padding-right:10px;}
.star3{ background:url(../../base/img/star3.png) no-repeat; width:60px; height:12px; padding-left:65px; padding-right:10px;}
.star4{ background:url(../../base/img/star4.png) no-repeat; width:60px; height:12px; padding-left:65px; padding-right:10px;}
.star5{ background:url(../../base/img/star.png) no-repeat; width:60px; height:12px; padding-left:65px; padding-right:10px;}

.starlarge{ background:url(../../base/img/starlarge.png) no-repeat; width:79px; height:15px; padding-left:85px; padding-right:10px;display:block; line-height:15px;}
.starlarge1{ background:url(../../base/img/starlarge1.png) no-repeat; width:79px; height:15px; padding-left:85px; padding-right:10px;display:block; line-height:15px;}
.starlarge2{ background:url(../../base/img/starlarge2.png) no-repeat; width:79px; height:15px; padding-left:85px; padding-right:10px; display:block; line-height:15px;}
.starlarge3{ background:url(../../base/img/starlarge3.png) no-repeat; width:79px; height:15px; padding-left:85px; padding-right:10px;display:block; line-height:15px;}
.starlarge4{ background:url(../../base/img/starlarge4.png) no-repeat; width:79px; height:15px; padding-left:85px; padding-right:10px;display:block; line-height:15px;}
.starlarge5{ background:url(../../base/img/starlarge5.png) no-repeat; width:79px; height:15px; padding-left:85px; padding-right:10px;display:block; line-height:15px;}

.praise{ background:url(../../base/img/praise.png) no-repeat; width:30px; height:24px; padding-left:30px; padding-right:10px; display:block;}
.mediumReview{ background:url(../../base/img/mediumReview.png) no-repeat; width:24px; height:24px; padding-left:30px; padding-right:10px;display:block;}
.badReview{ background:url(../../base/img/badReview.png) no-repeat; width:24px; height:24px; padding-left:30px; padding-right:10px;display:block;}

.evaluate{padding-left:20px;padding-top:10px;}
.evaluate .valueDic{float: left;width:150px;}
.evaluate .valuePic{float: left;}
.evaluate .valuePic li{border: 0;}
.score{background:url(../../base/img/rate_scroller_bar_short_gray.png) no-repeat left;height:20px; width:340px;}
.score span{background:url(../../base/img/rate_scroller_bar_short.png) no-repeat scroll left top;  line-height:20px; text-align:right; height:20px;display:block;}

.myTask{margin-top:5px;border:1px solid #E2C4B0;}
.myTaskL{width:49%;float:left;margin-right:5px;}
.myTaskR{width:49%;float:right;margin-left:5px;}
div .sorry{font-size:20px;font-weight:bold;height:85px;line-height:85px;padding-left:90px;background:url(img/sweat.gif) no-repeat left center;}

/*下一步样式*/
.nextBar { margin: 10px 0; overflow: hidden;_height:20px;}
.nextBar .num3 li { width: 30.5%;}
.nextBar .num4 li { width: 22.5%;}
.nextBar .num5 li{ width: 17%;}
.nextBar li { background: url("../img/flow_steps_bg.png") no-repeat scroll 100% 0 #E4E4E4; color: #404040; float: left;font-size: 14px;
font-weight: bold; height: 23px;line-height: 23px; overflow: hidden;padding: 0 15px 0 0;text-align: center;}
.nextBar li span, .nextBar li strong {display: block;}
.nextBar li .first { background: url("../img/flow_steps_bg.png") no-repeat scroll -12px -69px #E4E4E4;}
.nextBar li.last {background-position: 100% -138px;}
.nextBar li.current {background-color: #FF6600;color: #FFFFFF;}
.nextBar li.current .first {background-color: #FF6600;background-position: -12px -92px;}
.nextBar li.current-prev {background-position: 100% -23px !important;}
.nextBar li.done { background-color: #FFE6BA;background-position: 100% -46px;color: #FF6600;}
.nextBar li.done .first {background-color: #FFE6BA; background-position: -12px -115px;}
.nextBar li.last-current { background-color: #FF6600; background-position: 100% -161px; color: #FFFFFF;}

/* 页面搜索 */
.conSearch { border:1px solid #6DABBE; padding:10px; -moz-border-radius:5px;　-webkit-border-radius:5px;　border-radius:5px; position:relative; margin:10px auto;}
.conSearch h4 { font:bold 1em/1.5em "宋体"; padding:0 5px; position:absolute; top:-10px; left:8px; background:#fff;}
.conSearch ul { overflow:hidden;}
.conSearch li { float:left; line-height:30px; white-space:nowrap;}
.conSearch label { display:inline-block; text-align:right; padding-left:10px; width:7em;}
.conSearch .operationBtnDiv { text-align:left; padding:0; padding-left:5px;}
.conSearch .operationBtnDiv button { background:url(img/button/btn.gif) no-repeat -69px center; width:63px; padding-left:25px; line-height:normal;}
.conSearch .hightSearchBtn { padding-left:8em;}
.conSearch .hightSearch { display:none;}

.safe-info {margin-top:-1px;margin-left:40px;overflow:hidden;}
.safe-info .item {clear:both;padding:12px 0 12px 16px;vertical-align:middle;}
.safe-info .title {padding-right:15px;width:130px;}
.safe-info .supply {color:#666666;padding-right:15px;width:400px;}
.safe-info .state {width:100px;}
.safe-info div {float:left;line-height:22px;}
.safe-info .operate {}
.safe-info .state .over {background-position:40px -58px;text-indent:-23556px;}
.behind {background-color:#FFFAE6;}

  /*高级搜索*/
#hightSearchSwitch { margin-left:5px; display:inline-block; background:url(../../sysicon/16/bullet_arrow_down.png) no-repeat right center; font-weight:normal; padding-right:16px; cursor:pointer; color:#c00;}
#hightSearchSwitch.collapsable { background-image:url(../../sysicon/16/bullet_arrow_up.png);}