
.chart {margin-top: 20px;}
.chart table {width: 100%;}
.chart table tbody tr {line-height: 25px;}
.chart .title1{font-weight: bold;}
.chart .gap{background: none repeat scroll 0% 0% rgb(187, 255, 255);}
