@charset "utf-8";
/* 
Label: ECP - E Concentration Procurement
Version: 1.0
Skin: base 基础样式
Design: OTiger
Email: fanhy@gpcsoft.com
Remark: 按钮样式表，用于设置系统功能按钮样式。
--------------------------------------------------------------------------------------------------------- */
.functionBtnDiv, .operationBtnDiv, .conOperation { line-height:normal; overflow:hidden;}
.operationBtnDiv, .conOperation { text-align:center; padding:5px 0;}

/*初始化样式*/
button { vertical-align:middle;}
.functionBtnDiv button, .operationBtnDiv button, .conOperation button { border:0; overflow:visible; padding:0; }
.functionBtnDiv button, .operationBtnDiv button, .conOperation button,  .linkButton { /*padding-left:8px;*/ margin:0 2px; vertical-align:middle; }
.functionBtnDiv button span, .operationBtnDiv button span, .conOperation button span,  .linkButton span {/* padding-right:8px; display:inline-block; height:24px; white-space:nowrap; font:12px/24px Arial, Helvetica, "宋体", sans-serif; cursor:pointer;*/ padding:0 5px; }
.linkButton { display:inline-block; text-decoration:none; color:#000; }
/*无容器按钮*/
/*.linkButton { background:url(../../default/img/button/normBtn_bgL) no-repeat left; vertical-align:middle;}
.linkButton span { background:url(../../default/img/button/normBtn_bgR.png) no-repeat right;}*/
.linkButton { background:#f7f7f7 url(../../default/img/button/normBtn_bgL.gif) repeat-x left bottom; border:1px solid #d4d4d4; border-radius:5px;}

/*图标按钮*/
button.sysicon {border:none;background-color:transparent; vertical-align:middle; text-indent:0px;padding-left: 8px;margin-left:8px;min-width:18px;}
button.sysicon span {padding-left:10px; vertical-align:middle;}
button.sysicon.noText {padding:0;}

/*功能按钮容器内按钮样式*/
/*.functionBtnDiv button, .functionBtnDiv .linkButton { background:url(../../default/img/button/smallBtn_bgL.png) no-repeat left; }
.functionBtnDiv button span, .functionBtnDiv .linkButton span { background:url(../../default/img/button/smallBtn_bgR.png) no-repeat right; }*/
.functionBtnDiv button, .functionBtnDiv .linkButton { background:#eef4fc url(../../default/img/button/smallBtn_bgL.gif) repeat-x left bottom; border:1px solid #d0e2fa; border-radius:5px; height:18px; line-height:18px;}
.functionBtnDiv button:hover{color:#fc560d;}

/*操作按钮容器内按钮样式*/
/*.operationBtnDiv button, .operationBtnDiv .linkButton { background:url(../../default/img/button/btn.gif) no-repeat left center; width:70px; overflow:hidden;}
.operationBtnDiv button:hover, .operationBtnDiv .linkButton:hover{color:#0058a0; font-weight:bold;}
.operationBtnDiv .linkLongButton { background:url(../../default/img/button/btn.gif) no-repeat -131px center; width:92px;}*/
.operationBtnDiv button, .operationBtnDiv .linkButton{background:#f7f7f7 url(../../default/img/button/normBtn_bgL.gif) repeat-x left bottom; border:1px solid #d4d4d4; border-radius:5px; height:24px; line-height:24px;}

/*功能页页面操作容器内按钮样式*/
/*.conOperation button, .conOperation .linkButton { background:url(../../default/img/button/largeBtn_bgL.png) no-repeat left; padding-left:8px;}
*+html .conOperation button{background-position:0px 1px;}
.conOperation button span, .conOperation .linkButton span { background:url(../../default/img/button/largeBtn_bgR.png) no-repeat right; }*/

.conOperation button, .conOperation .linkButton{background:#fff2d2 url(../../default/img/button/btn_bg_y.gif) repeat-x left bottom; border:1px solid #eca936; border-radius:5px; height:30px; line-height:30px;}
.conOperation button:hover{ color:#fc560d;}


.bigBtn,a.bigBtn{ background:#019ae1 url(../../default/img/button/btn_bg.gif) repeat-x left bottom; color:#fff;}
.bigBtn:hover{background:#01a4f1 url(../../default/img/button/btn_bg_h.gif) repeat-x left bottom; color:#fff;}
.bigBtn,a.bigBtn{ height:20px; line-height:20px; display:inline-block; padding:0 5px; border:1px solid #389bc8;  border-radius:5px; font-weight:bold; white-space:nowrap;}
.btnBoxR{ text-align:right;padding:0 10px;}
.btnBoxC{ text-align:center; padding:5px 0;}
