@charset "utf-8";
/* 
Label: ECP - E Concentration Procurement
Version: 1.0
Skin: base 基础样式
Design: OTiger
Email: fanhy@gpcsoft.com
Remark: 列表样式，用于设置列表样式。
--------------------------------------------------------------------------------------------------------- */
/*信息列表*/
.listNote { font-size:12px; line-height:1.8em;}
.listNote li { position:relative; padding-right:100px;}
.listNote a {background:url(../img/listDot.png) no-repeat left 10px; color:#165a9b; text-indent:16px; display:inline-block; width:450px; white-space:nowrap; overflow:hidden; text-decoration:none; -o-text-overflow:ellipsis; text-overflow:ellipsis;}
.listNote a:hover { background-position:left -29px; color:#F00; text-decoration:underline;}
.listNote .listNoteTime { white-space:nowrap; position:absolute; top:0; left:650px; color:#999; }
.listNote .listNoteState { white-space:nowrap; position:absolute; top:0; left:740px; color:#F00; }
.listNote .listNoteWork { color:#063; position:relative; top:-5px; margin-left:5px; _top:0; *top:0; }

/* 项目列表 */
.porjectList { overflow:hidden; line-height:1.5em}
	.porjectList li { float:left; width:400px; height:250px; padding:5px; background:url(../img/porjectList_bg.png) no-repeat; position:relative;}
	.porjectList dt { position:absolute; top:10px; left:10px; width:218px; height:240px; overflow:hidden;}
	.porjectList dd { margin-left:230px; margin-top:10px;}
	.porjectList label { font-weight:bold;}
	.porjectList dd em { margin-right:5px;}
	.porjectList dd.functionBtnDiv { position:absolute; bottom:10px; left:230px; margin:0;}

/*翻页样式*/
.pageTurn { overflow:hidden; height:30px; line-height:30px; border-top:1px solid #c4d9ef;}
	.pageTurn li { float:left; padding:0 3px; margin-right:5px;}
	.pageTurn .sysicon { display:block; float:left; width:16px; height:30px; text-indent:-999px; overflow:hidden; cursor:pointer; vertical-align:middle;}
	.pageTurn select { width:50px;}
	.pageTurn input[type=text]{ width:50px;}

