
#editTree {}
#editTree table,#editTree th,#editTree td { width:auto; border:0; background:none}/*娓ゅㄥ杈规搴17*/

.defaultTreeTable{
			margin : 0;
			padding : 0;
			border : 0;
}
.containerTableStyle { overflow : hidden;position:relative; top:0; font-size : 12px;}
.containerTableStyleRTL span { direction: rtl; unicode-bidi: bidi-override;  }
.containerTableStyleRTL { direction: rtl; overflow : auto; position:relative; top:0; font-size : 12px;}
.standartTreeRow{	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; 	font-size : 12px; -moz-user-select: none;  }
.selectedTreeRow{ background-color : navy; color:white; font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; 		font-size : 12px;  -moz-user-select: none; }
.dragAndDropRow{ background-color : navy; color:white; }
.standartTreeRow_lor{	text-decoration:underline; background-color : #FFFFF0; font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; 	font-size : 12px; -moz-user-select: none; }
.selectedTreeRow_lor{   text-decoration:underline; background-color : navy; color:white; font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; 		font-size : 12px;  -moz-user-select: none; }

.standartTreeImage{ width:18px; height:18px;  overflow:hidden; border:0; padding:0; margin:0;
font-size:1px; }
.hiddenRow { width:1px;   overflow:hidden;  }
.dragSpanDiv,.dragSpanDiv td{ 	font-size : 12px; 	background-color:white; }


.selectionBox{
background-color: #FFFFCC;
}
.selectionBar {
	top:0;
	background-color: Black;
	position:absolute;
	overflow:hidden;
	height: 2px;
	z-index : 11;
}

.intreeeditRow{
  width:100%; font-size:8pt; height:16px; border:1px solid silver; padding:0; margin:0;
  -moz-user-select:  text;   
}
.dhx_tree_textSign{
   font-size:8pt;
   font-family:monospace;
   width:21px;
   color:black;
   padding:0px;
   margin:0px;
   cursor:pointer;
   text-align: center;
}
.dhx_tree_opacity{
    opacity:0;
    -moz-opacity:0;
    filter:alpha(opacity=0);
}
.dhx_bg_img_fix{
width:18px;
height:18px;
background-repeat: no-repeat;
background-position: center;
background-position-x: center;
background-position-y: center;
}


/*treeEditNav by lijx*/
	/*
	.treeEditNav { width:auto; float:left; position: relative;z-index:1; top:5px; }
	.treeEditNav ul{padding: 5px 5px 15px 5px; margin: 0px;}
	.treeEditNav li {list-style:none;line-height:22px;margin:0px; margin-right:1px;padding:0px;display:block; width:auto; float:left;cursor: default;background: url(../img/icon/sysIconBtn/ico_add.gif) no-repeat 2px center;}
	*/
.treeEditNav {float:right;}
.treeEditNav ul{background:none repeat scroll 0 0 transparent;}
.treeEditNav li {list-style:none;margin:0 5px 0 0;padding:0px;border-bottom:0 none; width:auto; cursor: default;background: url(../img/icon/sysIconBtn/ico_add.gif) no-repeat 2px center;}
.treeEditNav a { display:block; height:18px; font-size:12px; font-weight:normal; text-decoration:none; color:#2F414E; padding-left:20px;}
.treeEditNav a span {padding:1px 5px 1px 2px;}
.treeEditNav a:hover{display:block;font-size:12px;font-weight:normal;background: url(imgs/bj_nav_hover.gif) no-repeat left -22px;}
.treeEditNav a:hover span {background: url(imgs/bj_nav_hover.gif) no-repeat right top;}
.treeEditNav .operation a{display:block;height:22px;font-size:12px;font-weight:normal;background: url(imgs/bj_nav_hover.gif) no-repeat left -22px;}
.treeEditNav .operation a span{display:block;height:22px;background: url(imgs/bj_nav_hover.gif) no-repeat right top; color:#F00}

.treeEditNav .add{background: url("imgs/sysIconBtn/ico_add.gif") no-repeat scroll 0 0 transparent;}
.treeEditNav .edit{ background:url("imgs/sysIconBtn/ico_edit.gif") no-repeat scroll 0 0 transparent;}
.treeEditNav .del{ background:url("imgs/sysIconBtn/ico_delete.gif") no-repeat scroll 0 0 transparent;}
.treeEditNav .addOrg{ background:url("imgs/sysIconBtn/ico_addOrg.gif") no-repeat scroll 0 0 transparent;}
.treeEditNav .addBranch{ background:url("imgs/sysIconBtn/ico_addBranch.gif") no-repeat scroll 0 0 transparent;}
.treeEditNav .addJob{ background:url("imgs/sysIconBtn/ico_addJob.gif") no-repeat scroll 0 0 transparent;}
.treeEditNav .allotRes{ background:url("imgs/sysIconBtn/ico_allotRes.gif") no-repeat scroll 0 0 transparent;}
.treeEditNav .addRole{ background:url("imgs/sysIconBtn/ico_addRole.gif") no-repeat scroll 0 0 transparent;}
.treeEditNav .roleInherit{ background:url("imgs/sysIconBtn/ico_roleInherit.gif") no-repeat scroll 0 0 transparent;}
.treeEditNav .addOrg{ background:url("imgs/sysIconBtn/ico_addOrg.gif") no-repeat scroll 0 0 transparent;}
.treeEditNav .addDep{ background:url("imgs/sysIconBtn/ico_addDep.gif") no-repeat scroll 0 0 transparent;}
.treeEditNav .back{ background:url("imgs/sysIconBtn/ico_back.gif") no-repeat scroll 0 0 transparent;}

/*椤甸17*/

.treeOutside {
	position:relative;
	float:left;
	width:240px;
	padding:0px;
	margin:0px;
	overflow:auto;
	min-height:300px;
	max-height:550px;
}

/*淇澶姘村钩婊ㄦ￠棰17*/
.treeContentDiv {
	float:left;
}

.treeResize {
	position:absolute;
	right:0px;
	top:0px;
	border-right:2px solid #ccc;
	cursor:col-resize
}

.treeBtn {
	margin:3px 2px 4px 2px;
	white-space: nowrap;
}

.treeRight {
	overflow:auto;
	position:relative;
}
.treePage{white-space :nowrap }
.selectionTree{overflow:auto;position: relative;float:left; width:300px; overflow-x:hidden}
.selectionTree .treeEditNav{ position:fixed;left:440px; top:130px; background-color:#FFF}
.selectionTree .treeEditNav a span{ cursor:pointer}
.selectionTree .treeContentDiv{ padding-top:30px;}


