@charset "utf-8";
/* 
Label: ECP - E Concentration Procurement
Version: 1.0
Skin: elegantLakeBlue 优雅湖蓝
Design: OTiger
Email: fanhy@gpcsoft.com
Remark: 基础样式修改，用于修改系统基础样式样式。
--------------------------------------------------------------------------------------------------------- */
